body{
    font-family: 'Muli', 'Century Gothic', 'sans-serif';
    font-size:100%;
    margin:0;
    padding:0;
    border:0;
    display:block;
    color:black;
      background-image: url(//); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   
}

h1{
margin-left: 50%;
}
p{ 
   font-size: x-large;
   margin-left: 50%; 
}

.menu-filler{
    width:100%;
    height:300px;
}

.content-box-1{
    text-align: center;
    background-color:azure;
    color:black;
    width:100%;
    height: 1000px;
    font-size: 1.2em;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.5);
    padding:35px 10% 35px 10%;
    border: 3px solid black;
}

.content-box-2{
    background-color:azure;
    width:100%;
    height:600px;
}
.content-box-3{
    background-color:azure;
    width:100%;
    height:600px;
}
.content-box-4{
    background-color:azure;
    width:100%;
    height:600px;
}
.readmore-js-toggle, .readmore-js-section {
  display: block;
  width: 100%;
}
.readmore-js-section {
  overflow: hidden;
}



@media (max-width: 320px) {
	body {
		background-color: red;
	}
}

@media (max-width: 1024px) {
	body {
		background-color: gray;
	}
}